<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="kr.co.nandsoft.member.Member" alias="member"/>
        <typeAlias type="kr.co.nandsoft.member.Board" alias="board"/>
        <typeAlias type="kr.co.nandsoft.member.BoardRecord" alias="boardRecord"/>
        <typeAlias type="kr.co.nandsoft.member.Criteria" alias="criteria"/>
        <typeAlias type="kr.co.nandsoft.member.PageMaker" alias="pageMaker"/>

    </typeAliases>
    <environments default="dataSource">
        <environment id="dataSource">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${com.mysql.cj.jdbc.Driver}"/>
                <property name="url" value="${jdbc:mysql://localhost:3306/homepage?characterEncoding=UTF-8&amp;serverTimezone=UTC}"/>
                <property name="username" value="${yuihmoo}"/>
                <property name="password" value="${dydehf12##}"/>
            </dataSource>
        </environment>
    </environments>
</configuration>