<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
    <!-- criteria 를 적용한 게시판 페이징 조회 -->
    <select id="selectPage" resultType="kr.co.nandsoft.member.Board" parameterType="map">
<![CDATA[
        select
            num, memId, title, content, status, authority, hit, writeDate, updateWriteDate, updateId, boardNum
        from
            board
        where num > 0 and status = true and content like ${searchOption}
        order by ${sortOption} desc
        limit #{pageStart}, #{perPageNum}
        ]]>
</select>
    <!-- CDATA 가 없어도 쿼리문이 작동 됨. CDATA 태그 특성상 xml 에게 파싱을 하냐 안하냐를 결정해주기 때문. 결정적으로 부등호가 없는 경우 쓸 수 있다. -->
    <select id="countAll" resultType="int">
        SELECT count(*) FROM board where status = true
    </select>

</mapper>